/* Navigation bar styling: */
nav.navigation_bar ul {
    list-style-type: none;
    margin: 12px 16px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 12px;
  }
  nav.navigation_bar li {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  nav.navigation_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }
  nav.navigation_bar li a:hover {
    background-color: #111;
  }
  /* Dashboard Menu styling */
  nav.dashboard_menu ul {
    list-style-type: none;
    margin: 16px 24px;
    padding: 0;
    width: 212px;
    background-color: burlywood;
    border-radius: 12px;
  }
  nav.dashboard_menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
  }
  nav.dashboard_menu li a:hover {
    background-color: #B2936C;
    color: white;
    border-radius: 12px;
  }
  /* Login page elements */
  .one_line_field {
    margin: 8px 24px;
    font-family:'Courier New', Courier, monospace;
  }
  .submit_button {
    margin: 8px 24px;
    padding: 12px 12px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 8px;
  }
  #login_form {
    padding: 8px;
  }
  .one_line_textfield {
    font-family:'Courier New', Courier, monospace;
  }
  .multiline_textfield {
    margin: 8px 24px;
    font-family:'Courier New', Courier, monospace;
  }
  /* End of login page elements */
  /* Register page elements */
  #register_form {
    padding: 8px;
  }
  
  #register_email {
    margin: 8px 24px;
  }
  
  #logout_message {
    margin: 8px 32px;
  }
  .registration_msg {
    margin: 8px 32px;
  }
  
  /* Homepage */
  #homepage_welcome {
    margin: 8px 24px;
  }
  #homepage_logged_out {
    margin: 8px 24px;
  }
  .user_role_msg {
    margin: 8px 24px;
  }
  .alert {
    margin: 8px 24px;
  }
  .warning {
    margin: 8px 24px;
  }
  .success {
    margin: 8px 24px;
  }
  .page_name_header {
    margin: 8px 24px;
  }
  .input_form {
    margin: 8px 24px;
  }
  body {
    background-color: #FFFAF0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /* Profile Page */
  #profile_logged_out {
    margin: 8px 24px;
  }
  #profile_email {
    margin: 8px 24px;
  }
  #profile_username {
    margin: 8px 24px;
  }
  .current_profile_info {
    font-weight: bold;
  }
  #profile_password_reset {
    margin: 8px 24px;
    font-weight: bold;
  }
  .mb-3 {
    margin: 8px 24px;
  }
  
  /* List Roles Page */
  table {
    border-collapse: collapse;
    margin: 8px 24px;
  }
  th {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
  }
  th, td {
    border: 1px solid black;
    padding: 4px;
    font-size: 16px;
  }
  th {
    background-color:burlywood;
  }
  td {
    background-color:azure;
    font-family:'Courier New', Courier, monospace;
  }
  /*#list_roles_table {
    padding: 8px 24px;
  }*/
  .search_button {
    margin: 8px 8px;
    padding: 4px 4px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 8px;
  }
  .toggle_button {
    margin: 8px 8px;
    padding: 4px 4px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 8px;
  }
  /* Create Role Page */
  #create_role_name {
    padding: 8px 0px;
  }
  #create_role_description {
    padding: 8px 0px;
  }
  #create_role_submit_button {
    margin: 8px 0px;
    padding: 12px 12px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 8px;
  }
  /* Make Bank Account Page */
  #create_account_instructions {
    padding: 8px 24px;
  }
  .create_account_msg {
    padding: 8px 24px;
  }
  /* Transaction History Page */
  #transaction_history_go_back {
    padding: 8px 24px;
  }
  /* Accounts Page */
  .clickable_account_number_form {
    display: inline;
  }
  .account_number_button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    display: inline;
  }
  /* Deposit and Withdraw page */
  input.radio_option {
    margin: 8px 0px 8px 24px;
  }
  select {
    margin: 8px 24px;
    font-family:'Courier New', Courier, monospace;
  }